<div class="row">
  <div class="col-sm-6">
    <h1>Discussions</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= link_to new_discussion_path, class: 'btn btn-primary' do %>
      Add New Discussion
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Site</th>
        <th>Url</th>
        <th>Title</th>
        <th>Comments count</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @discussions.each do |discussion| %>
        <%= content_tag :tr, id: dom_id(discussion), class: dom_class(discussion) do %>
          <td><%= discussion.site.domain %></td>
          <td><%= discussion.url %></td>
          <td><%= discussion.title %></td>
          <td><%= discussion.comments_count %></td>
          <td><%= link_to 'Show', discussion %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
