


<div class="row">
  <div class="col-sm-6">
    <h1>Comments</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_comment_path, class: 'btn btn-primary' do %>
    Add New Comment
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Discussion</th>
            <th>Email</th>
            <th>Body</th>
            <th>Ip address</th>
            <th>User agent</th>
            
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <%= content_tag :tr, id: dom_id(comment), class: dom_class(comment) do %>
          
            <td><%= link_to comment.name, comment %></td>
          

                      <td><%= comment.discussion %></td>
                      <td><%= comment.email %></td>
                      <td><%= comment.body %></td>
                      <td><%= comment.ip_address %></td>
                      <td><%= comment.user_agent %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
